* { 
	padding: 0; 
	margin: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	user-drag: none; 
	-webkit-user-drag: none;
}

body {
	background-color: #29272C;
	font-size: 12px;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
}

ul {
	list-style-type: none;
}

table {
    border-spacing: 0;
}

span {
	display: block;
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
	user-drag: initial; 
	-webkit-user-drag: initial;		
}

.template {
	display: none;
}

.editable {
	width: 100%;
	background: rgba(0, 0, 0, 0);
	border: 0;
    font-size: 12px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
    color: white;
}

.screen {
	position: absolute;
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	color: white;
}
.screen .menu {
	flex: 0 1 auto;
	background: #161717;
}
.screen .menu .home-button {
	display: inline-block;	
	padding: 6px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.screen .menu .home-button:hover {
	background: #43a6e2;
}

.screen .inner {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	position: relative;
    overflow: overlay;
}
.screen .inner .layout-holder {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-flow: row;	
}
.screen .inner .layout-holder .content {
	width: 100%;
	height: 100%;
}
.screen .inner .layout-holder .left-menu {
	width: 300px;
	height: 100%;
	background: #434047;
}
.screen .inner .layout-holder .right-menu {
	width: 300px;
	height: 100%;
	background: #434047;
}

#loading-screen {
	display: table;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#loading-screen span {
	display: table-cell;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
}

#room-assets {
	width: 100%;
	height: 100%;
}
#room-assets .holder {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}
#room-assets .holder .item {
	display: flex;
	flex-flow: column;	
	position: relative;
	float: left;
	width: 160px; 
	height: 160px;
	margin: 6px;
	background: #ccc url(../gradient2.jpg); 
	background-size: cover;  
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.72);
	color: white;
}
#room-assets .holder .item:hover, 
#room-assets .holder .active {
	outline: 3px solid #f5f5f5;
}
#room-assets .holder .header {
	flex: 0 1 auto;
	background: rgba(0, 0, 0, 0.4);
}
#room-assets .header-holder {
	display: flex;
	flex-flow: row;
}
#room-assets .header-holder .content {
	width: 100%;
	flex: 0 1 auto;
	padding: 6px;
	white-space: nowrap;
	overflow: hidden;	
}
#room-assets .header-holder .content .name {
	overflow: hidden;
	text-overflow: ellipsis;
}
#room-assets .header-holder .close {
	flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 11px;
    padding: 6px;
    text-align: center;
}
#room-assets .holder .close:hover {
	background-color: #43a6e2;
}
#room-assets .item > .content {
	flex: 1 1 auto;
}
#room-assets .img-holder {
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 5%;
}
#room-assets img {
	display: block;
	position: absolute;
	margin: auto;
	max-width: 90%;
	max-height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;	
}
#room-assets .holder .res-info {
	float: right; 
	padding: 4px;
	background: rgba(0, 0, 0, 0.4);
	font-size: 9px;
    color: white;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.panel {
	position: absolute;
	left: 300px;
	top: 300px;
	min-width: 400px;
	z-index: 10000;
	background: #434047;
	border-radius: 2px 2px 2px 2px;	
    box-shadow: 0 0 8px #111;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif; 
    font-size: 10px;
    padding-bottom: 10px;
    resize: both;
    overflow: auto;
}
.panel > .header {
	display: flex;
	background: #000;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	border-radius: 2px 2px 2px 2px;	
	cursor: pointer;
}
.panel > .header div {
    width: 100%;
    padding: 8px;	
}
.panel > .header i {
	padding: 8px;
	font-size: 12px;
}
.panel > .header i:hover {
	background: #43a6e2;
}
.panel .content {
	background: #434047;
	color: white;
}
.panel .content .menu {
	width: 100%;
	background: #2a282d;
	text-transform: uppercase;
	font-weight: bold;
	color: #ebebeb;
}
.panel .content .menu li {
	display: inline-block;
	padding: 8px;
	cursor: pointer;
	border-right: 1px solid #2a282d;
	border-bottom: 1px solid #2a282d;
}
.panel .content .menu li.active, 
.panel .content .menu li:hover {
	background: #434047;
}
.panel .content .tab .header {
	padding: 6px;
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	cursor: pointer;
}
.panel .content .tab .content {
    font-size: 12px;
    font-family: 'Open Sans', 'Helvetica Neue',;
    padding: 9px;
}
.panel .content .chooser {
	margin: 10px;
}
.panel .content .chooser li {
	margin: 10px;
}

/*
.panel .content {
	padding: 4px;
	color: #ddd;
}
.panel .content ul {
	width: 100%;
	background: #000;
}
.panel .content li {
	padding: 6px;
	text-transform: uppercase;
}
.panel .content li:hover {
	background: #3d3d3d
}
.panel .h-line {
	display: flex;
	flex-flow: row;
}
.panel .holder {
	width: 100%;
	margin-left: 2px;
	margin-right: 2px;
}
.panel .button {
    padding: 8px;
    background-color: #5f5c63;
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    color: #eeee;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(45, 38, 38, 0.48);
}
.panel .button:hover {
	 background: #00acac; 
}*/