<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
      <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="max-age=3600, must-revalidate" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
